<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>

  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="description" content="jMonkeyEngine is a modern developer friendly game engine written primarily in Java.  ">
  
  <link rel="stylesheet" href="/css/style.css"> 

  <script src="/js/old-browser.js"></script>
  <link rel="stylesheet" href="/css/old-browser.css"> 

  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script> -->

  <script src="/highlight/highlight.pack.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <link rel="stylesheet" href="/highlight/styles/railscasts.css">
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
  </script>

  <script src="/js/utils.js"></script>
  <script src="/js/showcase.js"></script>
  <script type="module" src="/js/Main.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  {{ if .OutputFormats.Get "RSS" }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}
  {{ end }}
</head>

<body>
  <header> {{ block "header" . }}{{ partial "header.html" .}}{{ end }}</header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer> 
    © 2020 jMonkeyEngine  |  <a title="Github repo"  rel='noopener nofollow noreferrer' target="_blank" href="https://github.com/jMonkeyEngine/jmonkeyengine-website">
      <i class="fab fa-github"></i>
    </a>
    <a title="Report issue"  rel='noopener nofollow noreferrer' target="_blank" href="https://github.com/jMonkeyEngine/jmonkeyengine-website/issues">
      <i class="fas fa-bug"></i>
    </a>
    <br />
    All other trademarks, logos and featured content are property of their respective owners.
    <br />
    Website designed and developed by <a href="https://rblb.it">Riccardo Balbo</a>

    
  </footer>
</body>
</html>