<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="description" content="jMonkeyEngine is a modern developer friendly game engine written primarily in Java.">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {{ if in (slice "showcase" "showcase-tools") .Section }}
    {{ partial "showcase-social-meta.html" . }}
  {{ else }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
  {{ end }}
</head>

<body>
  {{ if .IsHome }}{{ partial "matrix.html" . }}{{ end }}
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
</body>

</html>
