{{ define "main" }}
{{ .Scratch.Set "asBanner" "true" }}
{{ $filter := slice "showcase" }}
    {{ range first 1 (shuffle  (where   .Site.Pages  "Params.tags"  "intersect" $filter    ) ) }}
    {{ partial "showcaseBanner.html" . }}
{{ end }}
<a id="content"></a>

<section class="full responsiveWidth">

<article>
        <h1 >
            {{ partial "postIcon.html" . }}
           
            <a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            <div class="content">
                <span>
                {{ .Content }}

                </span>
                {{ if not .Params.disable_nav }}

                    {{ partial "articleNavPost.html" . }}
                {{ end }}
            </div>



    </article>
</section>

{{ partial "comments.html" . }}


{{ end }}
