<h1 id="features">jMonkeyEngine</h1>
<section class="list hlist responsive responsiveWidth features">
    <article>
        <h1><i class="fas fa-shapes"></i> Powerful Graphics</h1>

        <div class="content">
            <span>
                jMonkeyEngine is only one level of abstraction away from OpenGL.
                <br />
                The engine exposes modern opengl capabilities and benefits from high performances due to its low level of abstraction.
                <br />
                Notable features include:
                <ul>
                    <li>Physically Based Rendering</li>
                    <li>Singlepass Lighting</li>
                    <li>Instanced Rendering</li>
                    <li>Multitarget Rendering</li>
                    <li>Tessellation</li>
                    <li>Geometry Shaders</li>
                    <li>Offscreen Rendering</li>
                    <li>sRGB support with linearization</li>
                    <li>Floating point textures</li>
                    <li>Tone Mapping (HDR)</li>
                    <li>Steep Parallax</li>
                    <li>Shadows</li>
                </ul>
                <a href="https://wiki.jmonkeyengine.org/docs/3.3/documentation.html"> And more...</a>
            </span>
        </div>

    </article>
    <article>
        <h1><i class="fas fa-weight-hanging"></i> Physics</h1>
        <div class="content">
            <span>
                jMonkeyEngine supports multiple physics solutions
                <ul>
                    <!-- <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/physics/physics.html">Bullet Engine</a>: A native bind for high performance rigidbody physics</li> -->
                    <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/physics/physics.html">jBullet</a>:  java porting of Bullet Engine </li>                  
                    <li><a href="https://store.jmonkeyengine.org/38308161-c3cf-4e23-8754-528ca8387c11">Minie <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: An binding to Bullet Engine, with support for rigidbody and softbody physics</li>
                </ul>             
            </span>
        </div>
    </article>

    <article>
        <h1><i class="fas fa-network-wired"></i> Networking</h1>
        <div class="content">
            <span>
                There are multiple options to write netcode in jMonkeyEngine:
                <ul>
                    <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/networking/networking.html">Spidermonkey</a>:  A feature rich java 
                        client-server networking API that uses TCP and UDP packets. With support for RMI and Object Serialization.
                    </li>
                    <li><a href="https://github.com/Simsilica/SimEthereal">SimEthereal <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: 
                        A high performance library for real-time networked object synching</li>
                        <li><a   href="https://store.jmonkeyengine.org/929c156b-3b0e-42c7-8474-f6c58ed8a1d5">Monkey Netty <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: 
                            A implementation of a server-client system using Netty.IO that utilizes both TCP and UDP.</li>                  
                </ul>        
            </span>
        </div>

    </article>
</section>

<section class="list hlist responsive responsiveWidth features">
    <article>
        <h1><i class="fas fa-mouse-pointer"></i> GUI</h1>

        <div class="content">
            <span>
                In jMonkeyEngine there are several established choices for GUIs:
                <ul>
                    <li><a href="https://github.com/jMonkeyEngine-Contributions/Lemur">Lemur <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: a modular library for 2D and 3D interactive guis, with a groovy-based styling language</li>
                    <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/core/gui/nifty_gui.html">Nifty GUI</a>: a library to build interactive user interfaces with support for xml layouts. </li>
                    <li><a  href="https://github.com/riccardobl/jme-igui">IGUI <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>:  a minimalistic immediate GUI with minimal input handling</li>                   
                </ul>
            </span>
        </div>

    </article>
    <article>
        <h1><i class="fas fa-fire"></i> Postprocessing</h1>
        <div class="content">

            <span>
                jMonkeyEngine supports postprocessing out of the box and comes with several filters ready to use.
                <br />
                Such as: 
                <ul>
                    <li>Bloom</li>
                    <li>FXAA</li>
                    <li>Cartoon Edges</li>
                    <li>Light Scattering (GOD rays)</li>
                    <li>SSAO</li>
                    <li>Tone Mapping</li>
                    <li><a href="https://store.jmonkeyengine.org/c907a4f2-631f-40fc-934b-3f70ccadb3ce">Volumetric Light <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a></li>
                </ul>
                <a  href="https://wiki.jmonkeyengine.org/docs/3.3/core/effect/effects_overview.html">And more...</a>
            </span>

        </div>

    </article>

    <article>
        <h1><i class="fas fa-volume-up"></i> 3D Audio</h1>
        <div class="content">
            <span>
                jMonkeyEngine supports 3D audio with 
                <ul>
                    <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/core/audio/audio.html">OpenAL</a>: Cross platform 3D audio. With basic support for positional sound and precomputed reverb.</li> 
                    <li><a  href="https://github.com/jmePhonon/jmePhonon">jmePhonon <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: Binding to SteamAudio for immersive sounds. With support for HRTF, occlusion, realtime reverberance and more... (pc only)</li> 
                </ul>
            </span>
        </div>

    </article>
</section>

<section class="list hlist responsive responsiveWidth features">
    <article>
        <h1><i class="fas fa-tree"></i> Terrain</h1>
        <div class="content">
            <span>
                There are several libraries and frameworks that aid in the creation of terrains in jMonkeyEngine.
                <br />
                Notable choices are:
                <ul>
                    <li><a href="https://wiki.jmonkeyengine.org/docs/3.3/core/terrain/terrain.html">TerraMonkey</a>: An high performance editable heightmap based terrain with autogenerated LOD and triplanar mapping.</li>
                    <li><a href="https://store.jmonkeyengine.org/1a85df6f-4bb6-4c85-9e77-b5119662ed54">Blocks <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: A voxel engine with support for custom shapes, physics and endless terrain.</li>
                    <li><a  href="https://github.com/Simsilica/IsoSurface">IsoSurface <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: An isosurface terrain</li>
                    <li><a  href="https://github.com/Simsilica/SimArboreal">SimArboreal <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>: A library to generate procedural trees</li>
                    <li><a  href="https://wiki.jmonkeyengine.org/docs/3.3/core/effect/post-processor_water.html">SeaMonkey</a>: Postprocessing filter that simulates water and underwater effects</li>
                </ul>
            </span>
        </div>
    </article>
    <article>
        <h1><i class="fas fa-magic"></i> Particles</h1>
        <div class="content">

            <span>
                jMonkeyEngine comes with particles capabilities in the core and multiple advanced thirdparty alternatives:
                <ul>
                    <li><a href="https://wiki.jmonkeyengine.org/docs/3.3/core/effect/particle_emitters.html">jMonkey Particles</a>: Simple and fast particles with support for point sprites and basic emitter logic</li>
                    <li><a href="https://store.jmonkeyengine.org/189b56af-a1be-4036-8ac7-2b62a94935ff">Particle Monkey <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>:  A modern particle system with better artistic controls</li>
                    <li><a href="https://github.com/riccardobl/jme-effekseerNative">jme-EffekseerNative <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>:  Binding to the Effekseer particles runtime.</li>                    
                </ul>

            </span>
        </div>

    </article>
    <article>
        <h1><i class="fas fa-star-of-life"></i> Multy Paradigm  </h1>
        <div class="content">

            <span>
                Thanks to its flexibility, jMonkeyEngine can be used with different paradigms:
                <ul>
                    <li><a href="https://wiki.jmonkeyengine.org/docs/3.3/core/scene/control/custom_controls.html">Spatial-Control model</a>:  An intuitive model where Spatials are game entities and Controls determine their logic</li>
                    <li><a href="https://github.com/jMonkeyEngine-Contributions/zay-es/wiki">Zay-ES <i class="fas fa-puzzle-piece" title="Available as Plugin or community contribution"></i></a>:  High-performance entity-component-system model (ECS) </li>
                </ul>
            </span>
        </div>

    </article>
</section>

<section class="list hlist responsive responsiveWidth features">
        <article>

        <h1><i class="far fa-comments"></i> By The Community</h1>
        <div class="content">

            <span>
                During the years jMonkeyEngine has received many contributions in form of addons, assets and libraries.
                <br />
                Recently we launched the <a href="https://store.jmonkeyengine.org">Software Store</a> to collect all of them in a single place.
            </span>
        </div>
    </article>
    <article>
        <h1><i class="fas fa-vial"></i> For The Developers</h1>
        <div class="content">

            <span>
                Simple, easy to setup, modular and minimalistic in its approach, jMonkeyEngine is made for the developers.
                <br />
                Its flexibility allows it to be adapted to different workflows and easily extended to support new features.

            </span>
        </div>

    </article>
    <article>
        <h1><i class="fab fa-osi"></i> Free for everyone </h1>
        <div class="content">

            <span>
                jMonkeyEngine is free and opensource. Released under the permissive <a href="/license">BSD 3-Clause license</a>.
                <br />
                 No splash screens, no fees and no requirement to
                mention jMonkeyEngine in your game at all.
            </span>
        </div>

    </article>
</section>
<a class="more responsiveWidth" href="/features">And More ...</a>
