{{ partial "topMenu.html" . }}
<div id="siteTitle" class="list hlist  responsiveWidth">
    <div id="logo">
        <a href="/">
            <img src="/images/jme-logo.png" />
        </a>
        <i class="toggleNavOnPortraitButton fas fa-bars" toggle="topmenu"></i>
    </div>

    <div id="contributionsBanner">
        <div> <i class="fas fa-donate"></i>
            Backed by:
            <a rel='noopener nofollow noreferrer' target="_blank" id="backerName">The Community</a>
            <a rel='noopener nofollow noreferrer' target="_blank"
                href="https://opencollective.com/jmonkeyengine#section-contributors"> and more...</a>
        </div>
        <br />
        <div>
            <i class="fab fa-github-alt"></i>
            Contributed by:
            <a rel='noopener nofollow noreferrer' target="_blank" id="contributorName">The Community</a>
            <a rel='noopener nofollow noreferrer' target="_blank"
                href="https://github.com/jMonkeyEngine/jmonkeyengine/graphs/contributors">and more...</a>
        </div>
    </div>
</div>

    <!-- <a  href="/"> <img src="/images/jme-logo.png"></a> -->