<section id="showcase" mode="banner">

  {{ $permUrl :=  .RelPermalink }}

    {{ partial "showCaseCommon.html" . }}
      

    <div  class="responsiveWidth" id="engineDescription">
      jMonkeyEngine is a modern developer friendly game engine written primarily in Java. 
      <br />
      Its minimalistic and code first approach makes it perfect for developers who want the support of a game engine
      while retaining full control over their code with the ability to extend and adapt the engine to their workflow.
      
      <br />
      <br />
      <br />
      <a href="/start/#content"><button  id="startbtn" class="highlightedCl"><i class="fas fa-rocket"></i> Get Started... </button></a>
        <br />
        <br />
    </div>

    <div class="responsiveWidth" >
    <div id="gameDescription" >
      <h2><i class="far fa-images" ></i> {{ .Params.Title  }} powered by jMonkeyEngine</h2>
      {{ if .Params.summary }}
      {{ .Params.summary | truncate 200}}
      {{ else }}
      {{ .Summary | plainify | safeHTML  | truncate 200 }} {{ if .Truncated }}
      {{ end }}
      <br />
      <a class="readMore" href="{{ .RelPermalink }}">See game page </a> {{ end }}
    </div>
  </div>

</section>



{{ partial "backerMessages.html" . }}
