{{- $slug := .slug | default "" -}}
{{- $fallback := .fallback | default (slice) -}}
{{- $section := .section | default "" -}}
{{- $images := slice -}}
{{- $frontmatterImages := slice -}}

{{- if not $slug -}}
    {{- with .page -}}
        {{- $section = .Section -}}
        {{- with .File -}}
            {{- $slug = path.Base .Dir -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $baseDir := "showcase" -}}
{{- if eq $section "showcase-tools" -}}{{- $baseDir = "showcase-tools" -}}{{- end -}}

{{- $dir := printf "static/images/%s/%s" $baseDir $slug -}}
{{- if and $slug (fileExists $dir) -}}
    {{- range sort (readDir $dir) "Name" "asc" -}}
        {{- if not .IsDir -}}
            {{- $ext := lower (path.Ext .Name) -}}
            {{- if in (slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".bmp" ".tiff" ".mp4" ".webm" ".ogg") $ext -}}
                {{- $images = $images | append (printf "/images/%s/%s/%s" $baseDir $slug .Name) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- with .page -}}
    {{- with .Params.image -}}
        {{- if reflect.IsSlice . -}}
            {{- range . -}}{{- $frontmatterImages = $frontmatterImages | append . -}}{{- end -}}
        {{- else -}}
            {{- $frontmatterImages = $frontmatterImages | append . -}}
        {{- end -}}
    {{- end -}}
    {{- with .Params.images -}}
        {{- range . -}}{{- $frontmatterImages = $frontmatterImages | append . -}}{{- end -}}
    {{- end -}}
{{- end -}}

{{- with $fallback -}}
    {{- range . -}}{{- $frontmatterImages = $frontmatterImages | append . -}}{{- end -}}
{{- end -}}

{{- $seen := dict -}}
{{- $deduped := slice -}}
{{- range $images -}}
    {{- $key := printf "%s" . -}}
    {{- if not (index $seen $key) -}}
        {{- $seen = merge $seen (dict $key true) -}}
        {{- $deduped = $deduped | append . -}}
    {{- end -}}
{{- end -}}
{{- range $frontmatterImages -}}
    {{- $item := printf "%s" . -}}
    {{- if and $item (not (index $seen $item)) -}}
        {{- $seen = merge $seen (dict $item true) -}}
        {{- $deduped = $deduped | append $item -}}
    {{- end -}}
{{- end -}}

{{- return $deduped -}}
