{{- $tool := . -}}
{{- $images := partial "showcase-images.html" (dict "page" $tool) -}}
{{- $image := partial "showcase-cover.html" (dict "items" $images) -}}
<a class="tool-card" href="{{ $tool.RelPermalink }}">
    {{ if $image }}
    <div class="tool-card__image" style="background-image: url('{{ $image | relURL }}')"></div>
    {{ else if $tool.Params.icon }}
    <div class="tool-card__image tool-card__image--icon"><i class="fa-solid {{ $tool.Params.icon }}"></i></div>
    {{ else }}
    <div class="tool-card__image tool-card__image--placeholder"><i class="fa-solid fa-wrench"></i></div>
    {{ end }}
    <div class="tool-card__body">
        <span class="game-tag tool-card__type">{{ $tool.Params.tool_type | default "Tool" }}</span>
        <h3 class="tool-card__title">{{ $tool.Title }}</h3>
        <p>{{ $tool.Params.summary | default $tool.Summary }}</p>
    </div>
</a>
