<nav class="responsiveWidth toggleOnPortrait" id="topmenu">
    <div>
        <a href="/">
            <button class="genericCl">
                <i class="fas fa-home"></i> Home
            </button>
        </a>


        <a href="https://hub.jmonkeyengine.org">
            <button class="genericCl">
                <i class="fab fa-discourse"></i> Discussions
            </button>
        </a>

        <a href="https://store.jmonkeyengine.org">
            <button class="genericCl">
                <i class="fas fa-puzzle-piece"></i> Store
            </button>
        </a>

        <a href="/docs">
            <button class="genericCl">
                <i class="fas fa-book"></i> Docs
            </button>
         </a>

        <a href="/license">
            <button class="genericCl">
                <i class="fas fa-balance-scale-right"></i> License
            </button>
        </a>
    </div>


    <div>
        <a href="https://github.com/jMonkeyEngine/jmonkeyengine"  rel='noopener noreferrer' target="_blank">
            <button class="icon codeCl" title="Github">
                <i class="fab fa-github-square"></i>
            </button>
        </a>
        <a href="https://twitter.com/jmonkeyengine" rel='noopener noreferrer' target="_blank">
            <button class="icon twitterCl" title="Follow on Twitter">
                <i class="fab fa-twitter"></i>
            </button>
        </a>

        <a href="https://www.youtube.com/channel/UC-Fs3R5Q6wW_XYspOXGZgPw" rel='noopener noreferrer' target="_blank">
            <button class="icon youtubeCl" title="Follow on Youtube">
                <i class="fab fa-youtube"></i>
            </button>
        </a>
    </div>

    <div>
        <a href="https://jmonkeyengine.itch.io/jMonkeyEngine" rel='noopener noreferrer' target="_blank">
            <button class="icon itchCl" title="Itch.io">
                <i class="fab fa-itch-io"></i>
            </button>
        </a>
        <a href="https://discord.gg/Rv8sfVu" rel='noopener noreferrer' target="_blank">
            <button class="icon discordCl" title="Discord">
                <i class="fab fa-discord"></i>
            </button>
        </a>
        <a href="https://opencollective.com/jmonkeyengine" rel='noopener noreferrer' target="_blank">
            <button class="icon donateCl" title="Donate">
                <i class="fas fa-donate"></i>
            </button>
        </a>

    </div>
</nav>