<nav class="responsiveWidth toggleOnPortrait" id="topmenu">
    <div >
        <button class="genericCl">
            <a href="https://jmonkeyengine.org">
                <i class="fas fa-home"></i> Home
            </a>
        </button>

        <button class="genericCl">
            <a href="https://hub.jmonkeyengine.org">
                <i class="fab fa-discourse"></i> Discussions
            </a>
        </button>
        <button class="genericCl">
            <a href="https://store.jmonkeyengine.org">
                <i class="fas fa-puzzle-piece"></i> Store
            </a>
        </button>
        <button class="genericCl">
            <a href="https://jmonkeyengine.org/docs">
                <i class="fas fa-book"></i> Docs
            </a>
        </button>

        <button class="genericCl">
            <a href="https://jmonkeyengine.org/license">
                <i class="fas fa-balance-scale-right"></i> License
            </a>
        </button>
    </div>


 <div>
        <button class="icon codeCl" title="Github">
            <a href="https://github.com/jMonkeyEngine/jmonkeyengine">
                <i class="fab fa-github-square"></i>
            </a>
        </button>
        <button class="icon twitterCl" title="Follow on Twitter">
            <a href="https://twitter.com/jmonkeyengine" rel='noopener nofollow noreferrer' target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </button>   

        <button class="icon youtubeCl" title="Follow on Youtube">
            <a href="https://www.youtube.com/channel/UC-Fs3R5Q6wW_XYspOXGZgPw" rel='noopener nofollow noreferrer' target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </button>
    </div>

    <div>

        <button class="icon itchCl" title="Itch.io">
            <a href="https://www.youtube.com/channel/UC-Fs3R5Q6wW_XYspOXGZgPw" rel='noopener nofollow noreferrer' target="_blank">
                <i class="fab fa-itch-io"></i>
            </a>
        </button>
        <button class="icon discordCl" title="Discord">
            <a href="https://discord.gg/Rv8sfVu" rel='noopener nofollow noreferrer' target="_blank">
                <i class="fab fa-discord"></i>
            </a>
        </button>

        <button class="icon donateCl" title="Donate">
            <a href="https://opencollective.com/jmonkeyengine" rel='noopener nofollow noreferrer' target="_blank">
                <i class="fas fa-donate"></i>
                        </a>
        </button>
    </div>
</nav>