{{ define "main" }}
{{ .Scratch.Set "asBanner" "true" }}

{{ $filter := slice "showcase" }}
{{ range first 1 (shuffle  (where   .Site.Pages  "Params.tags"  "intersect" $filter    ) ) }}
{{ partial "showcaseBanner.html" . }}
{{ end }}


<section class="list vlist responsive responsiveWidth">
    {{ $filter := slice "devlog" }}
    {{ $pages := (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
    {{ range first 1 $pages  }}
    {{ partial "articlePreview.html" . }}
    {{ end }}
</section>
<a class="more responsiveWidth" href="tags/devlog">More development updates...</a>

<section class="list vlist responsive responsiveWidth">
    {{ $filter := slice "communitylog" }}
    {{ $pages := (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
    {{ range first 1 $pages  }}
    {{ partial "articlePreview.html" . }}
    {{ end }}
</section>
<a class="more responsiveWidth" href="tags/communitylog">More community updates...</a>

<section class="list vlist responsive responsiveWidth">
    {{ $filter := slice "blog" }}
    {{ $pages :=  (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
    {{ range first 1 $pages  }}
    {{ partial "articlePreview.html" . }}
    {{ end }}
     
</section>

<ul class="more responsiveWidth">
    {{ $pages :=  (where  .Site.Pages  "Params.tags"  "intersect" $filter )}}
    {{ range first 3 ( after 1 $pages )  }}
        <li>
            <a href="{{ .RelPermalink }}">
            {{ if .Params.summarytitle }}
            {{ .Params.summarytitle }}
           {{ else }}
           {{ if .Title }}  {{ .Title }} {{ end }}
           {{ end }}

           ...

        </a>
        </li>
    {{ end }}
     
    <li><a  href="tags/blog">More from the blog...</a></li>

</ul>

{{ partial "features.html" . }}
{{ partial "contribute.html" . }}


{{ end }}