{{ define "main" }}
{{ $filter := slice "showcase" }}
{{ range first 1 (shuffle  (where  (where   .Site.Pages  "Params.authors"  "intersect" (slice .Data.Term)  )  "Params.tags"  "intersect" $filter ))}}
    {{ partial "showcaseBanner.html" . }}
{{ end }}

<section class="list hlist responsiveWidth">

<figure class="githubUser " github-user="{{ .Data.Term }}">
    <img src="https://avatars.githubusercontent.com/{{  lower .Data.Term }}">
    <figcaption>  
        <h2 alt="{{ .Data.Term }}" class="ghname" ghresolve-name="innerText">
            {{ .Data.Term }}
        </h2>
            <span ghresolve-bio="innerText"  class="ghbio"></span>
        <div>
            <a alt="github link" title="Github" href="https://github.com/{{ lower .Data.Term }}"><i class="fab fa-github"></i></a>
            <a  alt="twitter link"  title="Twitter" ghresolve-twitter_link="href" class="ghtwitter_link" href="" style="display:none"><i class="fab fa-twitter"></i></a>
            <a alt="website link"  title="Website"  ghresolve-blog="href"  class="ghblog" href="" style="display:none"><i class="fas fa-globe"></i></a>
        </div>
    </figcaption>
</figure> 

</section>

<section class="list responsiveWidth list vlist">
        {{ $paginator := .Paginator }}
        {{ range $paginator.Pages }}
            {{ partial "articlePreview.html" . }}      
        {{ end }}
</section>

{{ $paginator := .Paginator }}
<section class="pagination responsiveWidth">
    {{ if $paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}"><i class="fas fa-caret-left"></i></a>
    {{ end }}
  Page  {{ $paginator.PageNumber }} of {{$paginator.TotalPages }}
    {{ if $paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}"><i class="fas fa-caret-right"></i></a>
    {{ end }}    
</section>



<h1>Authors</h1>
<section class="list hlist responsiveWidth">
    <ul class="list hlist">

        {{ range $key, $value := .Site.Taxonomies.authors }}

        <li>
        <a href="/authors/{{ $key  }}"><i class="fas fa-at"></i> {{ $key  }}</a>
    </li>

        {{ end }}
    </ul>

</section>
{{ end }}